<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/eventsData.js"></script>
    <script src="/js/clevertap.js"></script>

    <title>CleverTap Web Tools</title>
</head>

<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-10 disp-xl">
            Welcome to CleverTap Integration
            <br>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-5"><button class="btn-info disp-sm" onclick="clickEvent()">Register here and create a product viewed event</button><br>
                    <button class="btn-info disp-sm" onclick="eventAPI()">Check events API</button></div>
                <div class="col-5"></div>
            </div>


        </div>
        <div class="col-2"></div>


    </div>

    <div id="snackbar">Product view event created, check console for logs!</div>


</body>

</html>